html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.task-edit {
  display: flex;
  flex-grow: 1;
  height: 100%;
  background-color: aqua;
}
.task-list {
  display: flex;
  flex-grow: 1;
  background-color: bisque;
  height: 100%;
}